@Dashboard-marginH-base: 40px;
@Dashboard-marginV-small: 16px;
@form-actions-bg: #ededed;
@form-actions-border-width: 4px;
@validation-default: #d6d6d6;
@page-body-height-transition-duration: .4s;

.btn.btn-icon-solo {
  border: 0;
  background: none;
  padding: 8px;
}

.icon-wrap.expand-toggle {
  &.expanded {
      transform: rotate(90deg);
  }
  transition: 220ms all ease;
  transform-origin: 50% 40%;
  transition-timing-function: cubic-bezier(0.055, 0.845, 0.475, 0.975);
}