<!-- <dashboard-section name="DMRs">
  some stuff
</dashboard-section> -->
<dashboard-collapse-card-list
  ng-repeat="section in $ctrl.sections"
  is-expanded="section.isExpanded"
  list="section"
>
  <!-- <dashboard-collapse-header is-collapsed="$ctrl.sections.dmr.isCollapsed" toggle="$ctrl.toggleSection('dmr')"> -->
  <dashboard-collapse-header
    is-expanded="section.isExpanded"
    on-toggle="$ctrl.toggleGroup(section.name)"
  >
    <div class="Dashboard-collapseHeader-item Dashboard-collapse-heading">
      {{section.displayName}}
    </div>
    <button
      class="Dashboard-collapseHeader-item btn btn-default"
      ng-click="$ctrl.selectAll(section.name)"
    >
      Select All
    </button>
  </dashboard-collapse-header>
  <dashboard-collapse-list-contents is-expanded="section.isExpanded">
    <dashboard-card-list
      list="section.items"
      list-name="{{section.name}}"
      select-context="$ctrl"
      is-selectable="$ctrl.isSelectable(section.name)"
    >
      <!-- <dashboard-card-list-item></dashboard-card-list-item> -->
    </dashboard-card-list>
  </dashboard-collapse-list-contents>
</dashboard-collapse-card-list>
<pre>{{$ctrl.selectedIds | json}}</pre>
