<md-dialog class="mdDialog mdDialog--large">
  <md-toolbar>
    <div class="md-toolbar-tools mdDialog-headerItems">
      <!-- <span
        >Sign {{$ctrl.toSign.forms.length > 1 ? 'forms' : 'form'}} as...</span
      > -->
      <span
         ng-bind-html="$ctrl.titleString | unsafe"></span
      >
      <span flex="fill"></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel($event)">
        <md-icon aria-label="Close dialog"
          >${require('../imported/x.svg')}</md-icon
        >
      </md-button>
    </div>
  </md-toolbar>
  <div class="mdDialog-body">
    <div class="mdDialog-body-segment mdDialog-body-segment--padded">
      <p ng-if="$ctrl.toSign.formDefinition.name !== 'dmr'">Please select a role to sign for each instance of <strong>{{$ctrl.toSign.formDefinition.displayName}}.</strong></p>
      <p ng-if="$ctrl.toSign.formDefinition.name === 'dmr'">Please select a role to sign for each DMR.</p>
    </div>
    <div class="mdDialog-body-segment mdDialog-body-segment--padded">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">
              <div class="table-headerText--large">
                Submissions
              </div>
            </th>
            <th colspan="{{$ctrl.roles.length}}">
              <div class="table-headerText--large">
                Sign as...
              </div>
            </th>
          </tr>
          <tr>
            <th>
              Submission Info
            </th>
            <th>
              Invitation Notes
            </th>
            <th class="table-headerCell table-headerCell--signingRole" ng-repeat="role in $ctrl.roles">
              <div class="table-headerCell--signingRole-content">
                <div class="table-headerCell--signingRole-row">{{role.roleName}}</div>
                <!-- <input type="checkbox" ng-checked="$ctrl.model.isSelectAll(role.roleName)"> -->
                <!-- <input type="checkbox"> -->
                <button class="btn btn-default" style="font-size: .85em;" ng-click="$ctrl.selectColumn($index)" ng-disabled="!$ctrl.isColumnActionable($index)">{{$ctrl.isColumnAllSelected($index) ? "Deselect All" : "Select All"}}</button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="form in $ctrl.toSign.forms" class="no-hover" ng-class-odd="'odd'">
            <td class="u-noWrap">
              <div class="Dashboard-item-row">
                <div class="Dashboard-item-contextTitle">
                  {{form.displayData.siteName}}
                </div>
              </div>
              <div
                class="Dashboard-item-row"
                ng-if="form.displayData.preparedOnDisplay"
              >
                <span
                  >Prepared on
                  <strong>{{form.displayData.preparedOnDisplay}}</strong> by
                  <strong>{{form.displayData.preparedBy}}</strong></span
                >
              </div>
              <div
                class="Dashboard-item-row"
                ng-if="form.displayData.dateRangeStr"
              >
                <strong ng-bind="form.displayData.dateRangeStr"></strong>
              </div>
              <div
                class="Dashboard-item-row"
                ng-if="form.displayData.submissionId"
                style="font-family: monospace;"
              >
                <strong>{{form.displayData.submissionId}}</strong>
              </div>
              <!-- <div class="u-noWrap" style="font-family: monospace">{{form.displayData.submissionId}}</div> -->
            </td>
            <td class="table-cell--borderRight">
              {{form.displayData.invitationNotes}}
            </td>
            <td class="checkbox-cell checkbox-cell--centered checkbox-cell--signingRole" ng-repeat="certification in form.certifications" title="{{$ctrl.model[$parent.$index][$index].hoverText}}">
              <input type="checkbox" ng-model="$ctrl.model[$parent.$index][$index].value" ng-disabled="$ctrl.model[$parent.$index][$index].isCertified"></td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mdDialog-body-segment mdDialog-body-segment--padded">
      <h3>outputModel</h3>
      <pre>
        {{$ctrl.outputModel | json}}
      </pre>
      <h3>model</h3>
      <pre>
        {{$ctrl.model | json}}
      </pre>
      <h3>toSign</h3>
      <pre>
        {{$ctrl.toSign | json}}
      </pre>
    </div>
  </div>
</md-dialog>
