<md-dialog class="mdDialog mdDialog--medium">
  <md-toolbar>
    <div class="md-toolbar-tools mdDialog-headerItems">
      <span
        >{{$ctrl.signed.length > 1 ? "Signatures" : "Signature"}} Received</span
      >
      <span flex="fill"></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel($event)">
        <md-icon aria-label="Close dialog"
          >${require('../imported/x.svg')}</md-icon
        >
      </md-button>
    </div>
  </md-toolbar>
  <div class="mdDialog-body mdDialog-body--scroll">
    <div class="mdDialog-body-segment mdDialog-body-segment--padded">
      <p class="AppForm-text">
        Your signature on the following forms has been received:
      </p>
    </div>
    <div class="mdDialog-body-segment mdDialog-body-segment--padded">
      <div class="JoinedCardList">
        <dashboard-card-list-item
          ng-repeat="item in $ctrl.signed"
          item="item"
          is-first="$first"
          is-last="$last"
          is-selectable="$index !== 0"
          show-select-box="$index !== 0"
          select-context="$ctrl"
        ></dashboard-card-list-item>
      </div>
    </div>
  </div>
  <div class="Dashboard-actionBar">
    <div class="Dashboard-action">
      <button class="btn btn-default" ng-click="$ctrl.cancel()">
        Close
      </button>
    </div>
    <div class="Dashboard-action" ng-if="$ctrl.selectedIds.length">
      <button class="btn btn-save" ng-click="$ctrl.cancel()">
        Pay {{$ctrl.totalAmountSelected | currency}}
      </button>
    </div>
  </div>
</md-dialog>
